/* Ben Custom Snippet */
.cxx-logo {
    width: 75px;
    height: 75px;
    padding: 0rem;
}
.cxx-logo:hover {
    width: 100px;
    height: 100px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bee-icon {
    width: 35px;
    height: 55px;
}